$margin-divider: 8px;
$column-width: 500px;

$electric-blue: #0892d0;

.news-item {
  width: 100%;
  max-width: $column-width;
  border-bottom: 1px solid #D8D8D8;

  &__primary-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }

  &__title {
    flex-grow: 2;
    text-align: left;
    font-weight: 700;
    min-height: 50px;
    width: 100%;
  }

  &__additional-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
  }

  &__published{
    text-align: left;
    flex-grow: 1;
    font-weight: 200;
  }

  &__news-source {
    font-weight: 200;
    margin-right: 50px;
  }

  &__author {
    font-weight: 200;
  }

  &__open-button {
    min-height: 80px;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;
  }

  &__link {
    position: absolute;
    top: 53px;
    right: 0;
    font-weight: 200;
    color: $electric-blue;
  }

  &__link:link,
  &__link:visited,
  &__link:focus,
  &__link:hover,
  &__link:active {
    color: $electric-blue;
  }

  &__secondary-data {
    max-width: $column-width;
    padding-bottom: 15px;
  }

  &__image {
    width: 100%;
    max-width: $column-width;
    margin-top: $margin-divider;
  }
}
