$loader-background-image: "/../assets/img/spinner.svg";
$column-width: 500px;

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__container {
    width: 100%;
    max-width: $column-width;
  }

  &--loading {
    height: 300px;
    width: 100%;
    background-image: url($loader-background-image);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__paging {
    display: flex;
    justify-content: space-between;
  }

  &__prev-button,
  &__next-button {
    font-weight: 700;
    background-color: transparent;
    border: none;
  }

  &__no-results {
    text-align: center;
  }
}
