.filter{
  &__input {
    width: 100%;
  }

  &__button,
  &__button--clear {
    background-color: black;
    color: white;
    border: none;
    margin-right: 3px;
  }

  &__container {
    display: flex;
    margin-bottom: 15px;
  }
}