.app {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  &__title {
    width: 100%;
    color: black;
    margin-left: 30px;
  }
  &__title__light {
    font-weight: 200;
  }
}